<div class="four wide column">
    <h4 class="ui inverted header">{{ 'sylius.ui.payment_methods'|trans  }}</h4>
    <div>
        <i class="fab fa-cc-mastercard fa-5x"></i>
        <i class="fab fa-cc-visa fa-5x"></i>
        <i class="fab fa-cc-paypal fa-5x"></i>
    </div>
</div>